

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap'); */

html{
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    overflow-y:auto;
    overflow-x: hidden;
}

body{
    background-color: #1B1A13;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}
body::-webkit-scrollbar{
width: 0.5em;
}

.blob{
    background-image: url("./assets/myphoto.png");
    height: 478px ;
    width: 400px;
    background-position: 3px -60px;
    background-color:#d1620d;
    background-size: cover; 
    box-shadow: 10px 10px 10px 10px;
    animation: animate 2s ease-in-out infinite;
    transition: all 2s ease-in-out;
}
@keyframes animate {
    0%,100%{
        border-radius: 60% 40% 50% 70% / 30% 30% 80% 90%;
    }
    50%{
        border-radius: 70% 84% 73% 96% / 96% 48% 59% 70%;
    }
}
#myName{
    color: #b84609;
    height: 100vh;
    padding-top: auto ;
    font-family: 'Ledger', serif;
    font-size: 12rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing:15px ;
    text-shadow: #F8E9C3 0px 0px 1px;
    transform: translateY(100px);
    transition: text-shadow 0.3s ease-in-out;
}


#image{
    display: flex;
    justify-content: center;
}


.heading{
    align-items: center;
    text-align: center;
    font-family: 'Ledger', serif;
}


.connections{
    text-align: center;
    width: 100vw;
    margin-top:50px;
    margin-bottom: 100px;
    display:inline-block;
}
.icon{
    display: inline-block;
    height: 50px;
    padding: 20px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.icon:hover{
    transform: scale(1.23);
}

.intro{
    color: #F8E9C3;
    font-family: Arapey;
    font-size: 2em;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin: 50px;
}

.worksDone{
    width: 70%;
    height: 500px;
    padding: 30px;
    background-color: #b84609;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    border-radius: 10px;

    .sections{
        border: #F8E9C3 solid ;
    }
    .small{
        width: 28rem;
        height: 5rem;
    }
    .large{
        width: 34rem;
        height: 9rem;
    }
}


footer{
    margin-top: 20px;
    position:static;
    bottom: 0;
    width: 100%;
    height: 200px;
    text-align:center;
    
    color: #F8E9C3;
}