@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=DM+Serif+Text:ital@0;1&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';


@font-face {
  font-family: 'klemerDisplay';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('/assets/fonts/KD.ttf') format('truetype');
}

@theme {
  --font-klemerDisplay: "klemerDisplay", sans-serif;
  --font-dm-serif: "DM Serif Text", serif;
  --font-castoro: "Castoro Titling", serif;
}
